name: Build and test

on: [push, pull_request]

env:
  LLVM_COMMIT: 2b135b931338a57c38d9c4a34ffdd59877ba82d6
  CMAKE_FLAGS: '-DCMAKE_LINKER=lld -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++ -DMLIR_DIR=$GITHUB_WORKSPACE/llvm-project/prefix/lib/cmake/mlir/ -DLLVM_DIR=$GITHUB_WORKSPACE/llvm-project/prefix/lib/cmake/llvm/ -DLLVM_EXTERNAL_LIT=$GITHUB_WORKSPACE/llvm-project/build/bin/llvm-lit -DLLVM_LIT_ARGS="--xunit-xml-output=lit-report.xml"'

permissions:
  checks: write
  pull-requests: write

jobs:
  build:
    name: Build and test
    runs-on: ubuntu-latest
    steps:
      - name: Configure Environment
        run: |
          echo "$GITHUB_WORKSPACE/llvm-project/prefix/bin" >> "$GITHUB_PATH"
          pip install --upgrade cmake
      - name: Get Template Code
        uses: actions/checkout@v5
        with:
          path: 'eff-dialect'
      - name: Cache LLVM
        id: cache-llvm
        uses: actions/cache@v4
        with:
          path: llvm-project
          key: ${{ runner.os }}-llvm-install-${{ env.LLVM_COMMIT }}
      - name: Get LLVM
        if: steps.cache-llvm.outputs.cache-hit != 'true'
        uses: actions/checkout@v4
        with:
          repository: 'llvm/llvm-project'
          ref: '${{ env.LLVM_COMMIT }}'
          path: 'llvm-project'
      - name: Install LLVM
        if: steps.cache-llvm.outputs.cache-hit != 'true'
        run: |
          mkdir $GITHUB_WORKSPACE/llvm-project/build
          mkdir $GITHUB_WORKSPACE/llvm-project/prefix
          cd $GITHUB_WORKSPACE/llvm-project/build
          cmake $GITHUB_WORKSPACE/llvm-project/llvm -DCMAKE_BUILD_TYPE=Release -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++ -DLLVM_ENABLE_ASSERTIONS=ON -DLLVM_BUILD_EXAMPLES=OFF -DLLVM_TARGETS_TO_BUILD="host" -DCMAKE_INSTALL_PREFIX=$GITHUB_WORKSPACE/llvm-project/prefix -DLLVM_ENABLE_PROJECTS='mlir' -DLLVM_ENABLE_OCAMLDOC=OFF -DLLVM_ENABLE_BINDINGS=OFF -DLLVM_INSTALL_UTILS=ON -DLLVM_ENABLE_LLD=ON
          cmake --build . --target install -- -j$(nproc)
      - name: Release build
        run: |
          mkdir $GITHUB_WORKSPACE/eff-dialect/build
          cd $GITHUB_WORKSPACE/eff-dialect/build
          cmake $GITHUB_WORKSPACE/eff-dialect -DCMAKE_BUILD_TYPE=Release ${{ env.CMAKE_FLAGS }}
          cmake --build . --target check-eff -- -j$(nproc)
      - name: Publish test results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: (!cancelled())
        with:
          files: |
            **/*-report.xml
